
.counter{
  background-color: antiquewhite;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px;
  border-radius: 20px;
  align-items: center;

}
.counternum{
  background-color: burlywood;
  /* width:20%; */
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}